@font-face {
  font-family: 'iconfont';
  /* project id 682850 */
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.eot');
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.woff?t=1500964529975') format('woff'),
    url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.ttf') format('truetype'),
    url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'meituan';
  src: url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.eot?t=1503027869484);
  src: url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.eot?t=1503027869484#iefix) format('embedded-opentype'),
    url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.woff?t=1500964529975) format('woff'),
    url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.ttf?t=1503027869484) format('truetype'),
    url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.svg?t=1503027869484#home-category-iconfont) format('svg')
}

@font-face {
  font-family: 'header';
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/header.woff?t=1501036445556') format('woff')
}

@font-face {
  font-family: 'home-category-iconfont';
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.woff?t=1503027869484') format('woff')
}

@font-face {
  font-family: 'MFShangHei-Regular';
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/MFShangHei-Regular.woff?t=1503027869484') format('woff')
}

@font-face {
  font-family: 'numbers';
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/numbers.woff?t=1503027869484') format('woff')
}
