@font-face {
  font-family: 'iconfont';
  /* project id 682850 */
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.eot');
  src: url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.woff') format('woff'),
    url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.ttf') format('truetype'),
    url('https://s0.meituan.net/bs/fe-web-meituan/076a786/font/iconfont.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'meituan';
  src: url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.eot?t=1503027869484);
  src: url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.eot?t=1503027869484#iefix) format('embedded-opentype'),
    url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.woff?t=1503027869484) format('woff'),
    url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.ttf?t=1503027869484) format('truetype'),
    url(https://s0.meituan.net/bs/fe-web-meituan/076a786/font/home-category-iconfont.svg?t=1503027869484#home-category-iconfont) format('svg')
}
