.m-user {
	margin-left: 15px;

	.login, .username {
		margin-left: 10px;
		color: #31BBAC;
		cursor: pointer;
	}

	.register, .logout {
		margin-left: 10px;
		color: #999;
		cursor: pointer;

		&:hover {
			color: #31BBAC;
		}
	}
}