.home-category-iconfont {
  font-family: home-category-iconfont !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hc-icon-food:before {
  content: '\e622';
}

.hc-icon-waimai:before {
  content: '\e630';
}

.hc-icon-hotel:before {
  content: '\e62a';
}

.hc-icon-zhenguo:before {
  content: '\e631';
}

.hc-icon-maoyan:before {
  content: '\e62c';
}

.hc-icon-plane:before {
  content: '\e632';
}

.hc-icon-ktv:before {
  content: '\e627';
}

.hc-icon-life:before {
  content: '\e633';
}

.hc-icon-beauty:before {
  content: '\e626';
}

.hc-icon-married:before {
  content: '\e629';
}

.hc-icon-child:before {
  content: '\e623';
}

.hc-icon-sport:before {
  content: '\e62b';
}

.hc-icon-decorate:before {
  content: '\e625';
}

.hc-icon-education:before {
  content: '\e624';
}

.hc-icon-medical:before {
  content: '\e628';
}

.hc-icon-bar:before {
  content: '\e621';
}